.header {
	border-bottom: 1px solid #bfbfbf;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

.logo {
	font-weight: 700;
    font-size: 45px;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Style Script', cursive;
         color: rgb(0, 0, 0);
     text-align: center;

}
/* ============================================================ */
.jack{
	float: center;
margin-left: 25%;
margin-bottom: 30%;
width: 110px;
height: 209	px;
}


.blacklabel{
	float: center;
margin-left: 28%;
margin-bottom: 22%;
width: 48%;
height: 340px ;	
}

.redlabel{
	float: center;
	margin-left: 28%;
	margin-bottom: 19%;
	width: 45%;
	height:113% ;
}


.jameson{
	float: center;
	margin-left: 28%;
	margin-bottom: 19%;
	width: 45%;
	height:113% ;
}

.french{
	float: center;
	margin-left: 28%;
	margin-bottom: 19%;
	width: 44%;
	height:94% ;
}

.italian{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:99% ;
}

.chilli{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:105% ;
}

.georgian{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:105% ;
}

.gordons{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:100% ;
}

.beefeater{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:100% ;
}

.siera{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:100% ;
}

.sauza{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:100% ;
}

.bacardi{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:100% ;
}

.morgan{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 44%;
	height:100% ;
}

.hennesy{
	float: center;
	margin-left: 28%;
	margin-bottom: 7%;
	width: 54%;
	height:100% ;
}

.napoleon{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 59%;
	height:100% ;
}

.armenian{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 59%;
	height:100% ;
}

.turkmen{
	float: center;
	margin-left: 28%;
	margin-bottom: 12%;
	width: 180%;
	height:100% ;
}

.berk{
	float: center;
	margin-left: 15%;
	margin-bottom: 5%;
	width: 150%;
	height:105%;
}

.campari{
		float: center;
	margin-left: 0%;
	margin-bottom: 5%;
	width: 150%;
	height:90%;
}

.bianco{
	float: center;
	margin-left: 0%;
	margin-bottom: 5%;
	width: 150%;
	height:90%;
}

.rosso{
	float: center;
	margin-left: 0%;
	margin-bottom: 5%;
	width: 150%;
	height:90%;
}

.arassa{
	float: center;
	margin-left: 0%;
	margin-bottom: 5%;
	width: 150%;
	height:100%;
}

.hlebny{
	float: center;
	margin-left: 0%;
	margin-bottom: 5%;
	width: 150%;
	height:100%;
}

.nemiroff{
	float: center;
	margin-left: 0%;
	margin-bottom: 5%;
	width: 150%;
	height:100%;
}

.vozduh{
	float: center;
	margin-left: 0%;
	margin-bottom: 11%;
	width: 150%;
	height:90%;	
}

.perepelka{
	float: center;
	margin-left: 0%;
	margin-bottom: 3%;
	width: 150%;
	height:98%;	
}	

.hortica{
	float: center;
	margin-left: 0%;
	margin-bottom: 9%;
	width: 150%;
	height:90%;		
}


.num2{
	color: white;
}
















/* ================================================================= */
body{
    width: auto;
  }
  #items{
	overflow-x: scroll;
    width: auto;
    white-space: nowrap;
  }
  .item{
     display: inline-block;
     width: 200px;
     height: 320px;
  }



  span {
     padding: 15	0px; */
    border: 10px solid rgb(151, 69, 69);
	text-align: :left;
	
}

.button-wrapper{
	display: flex;	
	justify-content: center;	
  }

.scrolltext{
font-size: 20px;
font-style: initial;
margin: 15px;
text-align: center;
}

.btn{
	background:#1b2738;
	color: rgb(250, 250, 250);
	width: 150px;
	height: 35px;
	padding: 10px 35px;  
	overflow:hidden;
}


.btn::before{
	font-family: FontAwesome;
	content:"\f07a";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}

.btn:hover:before {
	left: 7px;
}


.scrollH{
	text-align: center;
}

.pricetmt{
	/* text-indent: 20px; */

text-align: center;
	font-size: 25px;
}
========================================================================================================================


.delivery{
	text-align: center;
	text-indent: px;
}

.delivery1{
	font-size: 15px;
font-family: 'Nanum Gothic', sans-serif;
text-indent: 5px;}


.delivery2{
	font-style: italic;
	text-indent: 25px;
	font-size: 14px;
}

.delivery3{
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 20px;
}

.dostawka{
	text-align: center;
	font-size: 25px;
	font-family: 'Nanum Gothic', sans-serif;

}

.d500tmt{
	font-size: 15px;
	text-align: center;
}
========================================================================================================================

.num1{
	text-align: left;
}
footer {
	background: url(images/grass.png) 50% 53px no-repeat; /* Фоновый рисунок травы */
	margin-top: -77px; /* Поднимаем вверх */
	overflow: auto; /* Отменяем схлопывающиеся отступы */
	position: relative; /* Относительное позиционирование */
   }
.gps{
	margin-right: ;
}

.logo1{
	margin-left: auto;
    margin-right: auto;
    width: 26em
}

/* ==================== */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff5f5;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#1385e2;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#e9e8e8
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.h6{
	text-align: center;
}

.navH{
	text-align: center;
	
}

.inst{
text-align: center;}

.socialm{
	text-align: center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0

}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
	
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.wb{
	color: orange;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
Шаг 3) добавить JavaScript:

/*  =========================*/


.container1{
background-image: url(/bg1.jpg);    width:px ;
    height: 460px;
}

.sc{
    text-align: center;
    padding: 50px;
}

.nav__list {
	display: flex;
	align-items: center;
	margin: 0;
    text-decoration: none;

}

.nav__item:not(:first-child) {
	margin-left: 20px;
    text-decoration: none;

}

.nav__item {
	position: relative;
	padding: 15px 0;
    text-decoration: none;

}

.nav__link--drop::after {
	content: "";
	width: 10px;
	height: 10px;
	background-image: url("../download.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 5px;
	transition: transform 0.3s;
    text-decoration: none;

}

.nav__list--dropdown {
	position: absolute;
	background-color: #fff;
	right: 0;
	top: 100%;
	padding: 30px;
	display: block;
	box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
    text-decoration: none;

}

.dropdown-submenu {
	display: flex;
	align-items: initial;
    text-decoration: none;

}

.dropdown-submenu__item {
	flex-grow: 1;
	min-width: 200px;
	padding: 0 30px;
    text-decoration: none;

}

.dropdown-submenu__list {
	padding: 0;
    text-decoration: none;

}

.dropdown-submenu__item:not(:last-child) {
	border-right: 1px solid #bfbfbf;
    
}

.dropdown-submenu__item:first-child {
	padding-left: 0;
}

.dropdown-submenu__item:last-child {
	padding-right: 0;
}

.mobile-back {
	display: none;
}

.dropdown-list__item {
	margin-bottom: 10px;
}

.dropdown-submenu__list-item {
	margin-bottom: 10px;
    text-decoration: none;
}

@media (min-width: 769px) {
	.nav__link--drop:hover::after {
		transform: rotate(180deg);
		transition: all 0.3s;
	}

	.nav__item:hover .nav__list--dropdown {
		visibility: visible;
		opacity: 1;
		transition: all 0.3s;
        text-decoration: none;

	}
}

.burger {
	width: 35px;
	height: 15px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: relative;
	display: none;
}

.burger::before,
.burger::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
	height: 2px;
	background-color: #000;
}

.burger::after {
	top: auto;
	bottom: 0;
}

.burger span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 70%;
	height: 2px;
	display: inline-block;
	background-color: #000;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
}

.lock {
	overflow: hidden;
}

@media (max-width: 768px) {
	.burger {
		display: block;
	}

	.mobile-back {
		display: block;
	}

	.header {
		padding: 15px 0;
	}

	.nav {
		position: fixed;
		left: 0;
		top: 0;
		max-width: 400px;
		width: 80%;
		height: 100vh;
		z-index: 100;
		box-shadow: 5px 0 15px -5px rgba(0,0,0, 0.8);
		background-color: #fff;
		transform: translateX(-150vw);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		padding-top: 10%;
		position: relative;
	}

	.nav__item {
		margin-left: 0 !important;
		font-size: 20px;
		width: 100%;
		padding: 0;
		position: static;
        text-decoration: none;

	}

	.nav__link,
	.dropdown-submenu__list-item a,
	.dropdown-list__link {
		padding: 20px 30px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #bfbfbf;
        text-decoration: none;
	}

	.nav__link::after {
		transform: rotate(-90deg);
	}

	.nav__list--dropdown {
		position: absolute;
		top: 0;
		right: auto;
		left: 100%;
		box-shadow: none;
		width: 100%;
		display: none;
	}

	.dropdown-submenu__item {
		width: 100%;
		padding: 0;
		border: none !important;
	}

	.dropdown-submenu__title {
		padding: 0 30px;
	}

	.dropdown-submenu__banner {
		display: inline-block;
		padding: 20px;
	}

	.nav__list.transformation {
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.nav__list--dropdown.transformation {
		opacity: 1;
		visibility: visible;
		display: block;
		transform: none;
		background-color: #fff;
		transition: all 0.3s;
	}

	.nav.open {
		transform: translateX(0);
		transition: all 0.3s;
	}

	.overlay.open {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s;
	}

	.mobile-back a {
		position: relative;
		border: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.mobile-back a::before {
		content: "";
		width: 10px;
		height: 10px;
		background-image: url("../download.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-right: 10px;
		transform: rotate(90deg);
	}
}